
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5; /* Cor de fundo padrão */
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  /* Estilos do Navbar */
  .navbar {
    background: linear-gradient(to right, #6a11cb, #2575fc); /* Degradê de roxo para azul */
    color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra */
  }
  
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar .logo img {
    height: 40px;
    margin-right: 10px;
  }
  
  .navbar .company-name {
    font-size: 1.2rem;
  }
  
  .navbar .nav-links {
    list-style-type: none;
  }
  
  .navbar .nav-links li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .navbar .nav-links li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease; /* Transição suave de cor */
  }
  
  .navbar .nav-links li a:hover {
    color: #f0f0f0; /* Cor ao passar o mouse */
  }
  
  
  /* Estilos da Lista de Tarefas */
  #task-list {
    margin-bottom: 50px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
  }
  
  #task-list h2 {
    margin-bottom: 10px;
    color: #333; /* Cor do título */
  }
  
  #task-form {
    margin-bottom: 20px;
  }
  
  #task-input {
    width: 70%;
    padding: 10px;
    font-size: 16px;
  }
  
  #task-form button {
    padding: 10px 20px;
    font-size: 16px;
    background: linear-gradient(to right, #6a11cb, #2575fc); /* Degradê de roxo para azul */
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transição suave de cor */
  }
  
  #task-form button:hover {
    background: linear-gradient(to right, #2575fc, #6a11cb); /* Troca de cores no hover */
  }
  
  #tasks {
    list-style-type: none;
  }
  
  .task-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9; /* Cor de fundo */
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Sombra */
  }
  
  .task-item.completed {
    text-decoration: line-through;
    color: #999;
  }
  
 /* Estilos do Calendário */
#calendario {
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    background-color: #ffffff00;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
  }
  

  .anotacoes-container {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  #anotacoes-textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; /* Permite redimensionamento vertical */
  }

  
  /* Estilos do Footer */
  footer {
    background: linear-gradient(to right, #6a11cb, #2575fc); /* Degradê de roxo para azul */
    color: #fff;
    padding: 24px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
  }

  footer p {
    margin-top: 10px;
  }
  